{% extends "base.html" %}

{%  block title  %}
Заявка #
{% endblock %}


{% block content %}
<div class="flex-lg-row-fluid ms-lg-7 ms-xl-10">
    <!--begin::Messenger-->
    <div class="card" id="kt_chat_messenger">
        <!--begin::Card header-->
        <div class="card-header" id="kt_chat_messenger_header">
            <!--begin::Title-->
            <div class="card-title" style="width: 100%;">
                <!--begin::User-->
                <div class="d-flex justify-content-center flex-column" style="width: 25%;">
                    <a href="https://t.me/{{data['complain'].username}}" class="fs-4 fw-bolder text-gray-900 text-hover-primary me-1 mb-2 lh-1">{{'@'+data['complain'].username}}</a>
                    <!--begin::Info-->
                    <div class="mb-0 lh-1">
                        {{data['complain'].first_name}}
                        
                    </div>
                    <!--end::Info-->
                </div>
                <div class="d-flex justify-content-center flex-column" style="width: 25%;">
                    <a href="#" class="fs-4 fw-bolder text-gray-900 text-hover-primary me-1 mb-2 lh-1">{% if data['complain'].type == 'success' %} <button class='btn btn-xs btn-success'> Таклиф </button> {% elif data['complain'].type == 'warning' %} <button class='btn btn-xs btn-warning'> Этироз </button> {% elif data['complain'].type == 'danger' %} <button class='btn btn-xs btn-danger'> Шикоят </button> {% endif %}</a>
                    <!--begin::Info-->
                    <div class="mb-0 lh-1">
                        <button class='btn btn-xs btn-secondary'>{{data['complain'].category.name}}</button>
                        
                    </div>
                    <!--end::Info-->
                </div>
                <div class="d-flex justify-content-center flex-column" style="width: 25%;">
                    Дата: {{ data['complain'].created_time }}
                    <!--begin::Info-->
                    <div class="mb-0 lh-1">
                        
                    </div>
                    <!--end::Info-->
                </div>
                <div class="d-flex justify-content-center flex-column" style="width: 25%;">
                    <a href="#" class="fs-4 fw-bolder text-gray-900 text-hover-primary me-1 mb-2 lh-1">{{data['kafedra_name']}}</a>
                    <!--begin::Info-->
                    <div class="mb-0 lh-1">
                        {{data['teacher_name']}}
                        
                    </div>
                    <!--end::Info-->
                </div>
                <!--end::User-->
            </div>
            <!--end::Title-->
            <!--begin::Card toolbar-->
            
            <!--end::Card toolbar-->
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body" id="kt_chat_messenger_body">
            <!--begin::Messages-->
            <div class="scroll-y me-n5 pe-5 h-300px h-lg-auto" data-kt-element="messages" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_messenger_header, #kt_chat_messenger_footer" data-kt-scroll-wrappers="#kt_content, #kt_chat_messenger_body" data-kt-scroll-offset="-2px">
                <!--begin::Message(in)-->
                {% for c_d in data['complain_data'] %}
                <div class="d-flex justify-content-start mb-10">
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column align-items-start">
                        <!--begin::User-->
                        
                        <!--end::User-->
                        <!--begin::Text-->
                        
                        {% if c_d.key == 'text' %}
                        <div class="p-5 rounded bg-light-info text-dark fw-bold mw-lg-400px text-start" data-kt-element="message-text">{{c_d.value}}</div>
                        {% elif c_d.key == 'img' %}
                        <img src="{{c_d.value}}" alt="img">
                        {% elif c_d.key == 'video' %}
                        <video width="320" height="240" controls>
                            <source src="{{c_d.value}}" type="video/{{c_d.value.split('.')[-1]}}">
                        </video>
                        {% elif c_d.key == 'voice' %}
                        <audio controls>
                            <source src="{{c_d.value}}" type="audio/{{c_d.value.split('.')[-1]}}">
                        </audio>
                        {% elif c_d.key == 'document' %}
                        <div class="attachments-container">
                            <a href="{{c_d.value}}" class="ripple-effect attachment-box" download>Document</a>
                        </div>
                        {% endif %}

                        
                        <!--end::Text-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                {% endfor %}
                <div class="d-flex justify-content-start mb-10">
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column align-items-start">
                        <!--begin::User-->
                        <div class="d-flex align-items-center mb-2">
                            <!--begin::Avatar-->
                            <div class="symbol symbol-35px symbol-circle">
                                
                            </div>
                            <!--end::Avatar-->
                            <!--begin::Details-->
                            <!--end::Details-->
                        </div>
                        <!--end::User-->
                        <!--begin::Text-->
                                
                        <!--end::Text-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <div class="d-flex justify-content-start mb-10">
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column align-items-start">
                        <!--begin::User-->
                        <div class="d-flex align-items-center mb-2">
                            <!--begin::Avatar-->
                            <div class="symbol symbol-35px symbol-circle">
                                
                            </div>
                            <!--end::Avatar-->
                            <!--begin::Details-->
                            <!--end::Details-->
                        </div>
                        <!--end::User-->
                        <!--begin::Text-->
                        
                        
                                
                        <!--end::Text-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Message(in)-->
                <!--begin::Message(out)-->
                <!-- <div class="d-flex justify-content-end mb-10" style="display: none;">
                    
                    <div class="d-flex flex-column align-items-end">
                       
                        <div class="d-flex align-items-center mb-2">
                           
                            <div class="me-3">
                                <span class="text-muted fs-7 mb-1">5 mins</span>
                                <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary ms-1">You</a>
                            </div>
                            
                            <div class="symbol symbol-35px symbol-circle">
                                
                            </div>
                            
                        </div>
                        
                        <div class="p-5 rounded bg-light-primary text-dark fw-bold mw-lg-400px text-end" data-kt-element="message-text">Hey there, we’re just writing to let you know that you’ve been subscribed to a repository on GitHub.</div>
                        
                    </div>
                    
                </div> -->
                <!--end::Message(out)-->
                <!--begin::Message(out)-->
                
                <!--end::Message(out)-->
                <!--begin::Message(in)-->
                
                <!--end::Message(in)-->
                <!--begin::Message(out)-->
                
                <!--end::Message(out)-->
                <!--begin::Message(in)-->
                
                <!--end::Message(in)-->
                <!--begin::Message(template for out)-->
                <div class="d-flex justify-content-end mb-10 d-none" data-kt-element="template-out">
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column align-items-end">
                        <!--begin::User-->
                        <div class="d-flex align-items-center mb-2">
                            <!--begin::Details-->
                            <div class="me-3">
                                <span class="text-muted fs-7 mb-1">Just now</span>
                                <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary ms-1">You</a>
                            </div>
                            <!--end::Details-->
                            <!--begin::Avatar-->
                            <div class="symbol symbol-35px symbol-circle">
                                
                            </div>
                            <!--end::Avatar-->
                        </div>
                        <!--end::User-->
                        <!--begin::Text-->
                        <div class="p-5 rounded bg-light-primary text-dark fw-bold mw-lg-400px text-end" data-kt-element="message-text"></div>
                        <!--end::Text-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Message(template for out)-->
                <!--begin::Message(template for in)-->
                
                <!--end::Message(template for in)-->
            </div>
            <!--end::Messages-->
        </div>
        <!--end::Card body-->
        <!--begin::Card footer-->
        <!-- <div class="card-footer pt-4" id="kt_chat_messenger_footer">
            
            <textarea class="form-control form-control-flush mb-3" rows="1" data-kt-element="input" placeholder="Type a message"></textarea>
            
            <div class="d-flex flex-stack">
                
                <div class="d-flex align-items-center me-2">
                    <button class="btn btn-sm btn-icon btn-active-light-primary me-1" type="button" data-bs-toggle="tooltip" title="Coming soon">
                        <i class="bi bi-paperclip fs-3"></i>
                    </button>
                    <button class="btn btn-sm btn-icon btn-active-light-primary me-1" type="button" data-bs-toggle="tooltip" title="Coming soon">
                        <i class="bi bi-upload fs-3"></i>
                    </button>
                </div>
               
                <button class="btn btn-primary" type="button" data-kt-element="send">Send</button>
                
            </div>
            
        </div> -->
        <!--end::Card footer-->
    </div>
    <!--end::Messenger-->
</div>
{% endblock %}